.Usuario, .Venda {
    display: grid;
    grid-template-columns: 5% 20% 23% 20% 20% 6% 6%;
    grid-template-rows: 100%;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-top: 2px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #e3e3e3;
    color: #233142;
    text-wrap: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.Venda {
    grid-template-columns: 17% 17% 17% 16% 10% 9% 7% 7%;
}

.filtrado {
    grid-template-columns: 18% 18% 15% 20% 15% 14%;
}

.itemFilho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding: 0 15px;
    border-right: 1px solid #233142;
    text-align: center;
    overflow-x: auto;
}

.itemFilho:last-child {
    border-right: none;
}

.buttonEdit, .buttonExc, .buttonProcurar {
    cursor: pointer;
    transition: 0.2s;
}

.buttonEdit:hover, .buttonExc:hover, .buttonProcurar:hover {
    background-color: #f95959;
    color: #e3e3e3;
}

.buttonEdit:active, .buttonExc:active, .buttonProcurar:active {
    background-color: #e3e3e3;
    color: #233142;
}

@media only screen and (max-width: 782px) {
    .Usuario, .Venda {
        height: 100px;
        grid-template-columns: 18% 30% 32% 20%;
        grid-template-rows: 50% 50%;
        margin-bottom: 10px;
        border-radius: 5px;
        overflow: hidden;
    }

    .procurar, .buttonProcurar {
        grid-row: span 2;
    }

    .Venda {
        grid-template-columns: 27% 27% 26% 20%;
    }

    .buttonEdit {
        grid-row: 1;
        grid-column: 4;
        border: none;
    }

    .Venda .buttonEdit {
        grid-row: 1;
        grid-column: 4;
        border: none;
    }

    .Venda .data {
        grid-row: 1;
        grid-column: 3;
    }

    .Usuario:first-child {
        margin-top: 0;
    }

    .filtrado {
        grid-template-columns: 34% 33% 33%;
    }
}